<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>医院展示</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <base th:href="${#request.getContextPath()}+'/'">
    <link rel="stylesheet" href="static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="static/layuiadmin/style/admin.css" media="all">
    <style type="text/css">
        #test-carousel-img img {
            width: 100%;
            height: 100%;
        }
        .img-list img{
            width:200px;
            height: 150px;
        }
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <!-- 轮播 -->
                    <div class="layui-card-header">医院风采</div>
                    <div class="layui-card-body">
                        <div class="layui-carousel" id="test-carousel-img" lay-anim="" lay-indicator="inside"
                             lay-arrow="hover"
                             style="width: 80%; height: 400px;">
                            <div carousel-item="">
                                <div class="" th:each="image,imageStat:${images}" ><img
                                        th:src="${image.getPictureUrl()}">
                                </div>
                            </div>
                            <div class="layui-carousel-ind">
                                <ul>
                                    <li class=""></li>
                                    <li class="layui-this"></li>
                                    <li class=""></li>
                                    <li class=""></li>
                                    <li class=""></li>
                                    <li class=""></li>
                                    <li class=""></li>
                                </ul>
                            </div>
                            <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
                            <button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">热门医院</div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space10">
                                <div class="img-list">
                                    <div class="layui-fluid" style="padding:0">
                                        <div class="layui-row layui-col-space30 space">
                                            <div class="layui-col-xs12 layui-col-sm4 layui-col-md4" th:each="hot,hotStat:${hots}">
                                                <div class="item" >
                                                    <img th:src="${hot.getHospitalHeadImage()}"
                                                         layer-index="1">
                                                    <div class="cont-text">
                                                        <div class="data" th:text="${hot.getHospitalName()}"></div>
                                                        <p class="address"><i
                                                                class="layui-icon layui-icon-location"></i><span th:text="${hot.getAddress()}"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">待办事项</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a class="layadmin-backlog-body">
                                                <h3>待就诊</h3>
                                                <p><cite id="n0"></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a class="layadmin-backlog-body">
                                                <h3>已就诊</h3>
                                                <p><cite id="n1"></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a class="layadmin-backlog-body">
                                                <h3>退号</h3>
                                                <p><cite id="n2"></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a class="layadmin-backlog-body">
                                                <h3>过期</h3>
                                                <p><cite id="n3"></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a class="layadmin-backlog-body">
                                                <h3>信用分</h3>
                                                <p><cite id="n4"></cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据概览</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                                 lay-filter="LAY-index-dataview">
                                <div carousel-item id="LAY-index-dataview">
                                    <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
<!--                                    <div></div>-->
<!--                                    <div></div>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="static/layuiadmin/layui/layui.js?t=1"></script>
<script>
    layui.config({
        base: 'static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'countdata', 'carousel', 'form'], function () {

        var carousel = layui.carousel
            , form = layui.form
            , $ = layui.jquery;
        //待办事项数目数量
        $.ajax({
            url: "booking/getCount",
            type: "get",
            data:{},
            dataType: "json",
            success: function(res){
                var data=res.data
                $("#n0").text(data.n0);
                $("#n1").text(data.n1);
                $("#n2").text(data.n2);
                $("#n3").text(data.n3);
                $("#n4").text(data.integral);

            }
        });

        //图片轮播
        carousel.render({
            elem: '#test-carousel-img'
            , width: '100%'
            // , height: (W/b).toString()+"px"
            , height: "440px"
            , interval: 8000
        });


        //事件
        carousel.on('change(test-carousel-demo)', function (res) {
            console.log(res)
        });

        var $ = layui.$, active = {
            set: function (othis) {
                var THIS = 'layui-bg-normal'
                    , key = othis.data('key')
                    , options = {};

                othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                options[key] = othis.data('value');
                ins3.reload(options);
            }
        };

        //监听开关
        form.on('switch(test-carousel-autoplay)', function () {
            ins3.reload({
                autoplay: this.checked
            });
        });

        $('.test-carousel-demoSet').on('keyup', function () {
            var value = this.value
                , options = {};
            if (!/^\d+$/.test(value)) return;

            options[this.name] = value;
            ins3.reload(options);
        });

        //其它示例
        $('.test-carousel-demoTest .layui-btn').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
</script>


</body>
</html>

