<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>医院挂号预约管理系统</title>
    <base th:href="${#request.getContextPath()}+'/'">
    <link rel="stylesheet" th:href="@{static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{static/layuiadmin/style/admin.css}" media="all">
    <script src="https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc"></script>
    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
    <link id="layuicss-layer" rel="stylesheet" href="https://www.layui.com/admin/std/dist/layuiadmin/layui/css/modules/layer/default/layer.css?v=3.1.1" media="all">


    <style type="text/css">
        a {
            color: #2D61B5;
            text-decoration: none
        }

        a:hover {
            color: #009933;
            text-decoration: none
        }

        a:link {
            color: #2D61B5;
            text-decoration: none
        }
    </style>
</head>

<body class="layui-layout-body" layadmin-themealias="default" style>

<div id="LAY_app" class="">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <span class="layui-nav-bar" style="left: 198px; top: 48px; width: 0px; opacity: 0;"></span>
                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>

            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>

                        <!-- 如果有新消息，则显示小圆点 -->
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <!-- 记事本 -->
                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <!-- 全屏插件 -->
                <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite th:text="${name}"></cite>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        <dd><a lay-href="">修改密码</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a href="logout">退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>医院挂号预约管理系统</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li class="layui-nav-item layui-this">
                        <a href="javascript:;" lay-href="hospital/hospitalShow" lay-tips="主页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                    </li>
                    <li class="layui-nav-item" th:if="${role eq 'admin' || role eq 'user'}">
                        <a href="javascript:;" lay-tips="预约挂号" lay-direction="2">
                            <i class="layui-icon layui-icon-component"></i>
                            <cite>预约挂号</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;" lay-href="booking/bookingPage">预约挂号</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" th:if="${role eq 'admin' }">
                        <a href="javascript:;" lay-tips="医院管理" lay-direction="2">
                            <i class="layui-icon layui-icon-component"></i>
                            <cite>医院管理</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;" lay-href="hospital/hospitalManagePage">医院管理</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" th:if="${role eq 'admin' }">
                        <a href="javascript:;" lay-tips="科室管理" lay-direction="2">
                            <i class="layui-icon layui-icon-template"></i>
                            <cite>科室管理</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="department/departmentManagePage">科室管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" th:if="${role eq 'admin' }">
                        <a href="javascript:;" lay-tips="用户管理" lay-direction="2">
                            <i class="layui-icon layui-icon-app"></i>
                            <cite>用户管理</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd data-name="doctor"><a lay-href="doctor/doctorManagePage" >医生</a></dd>
                            <dd data-name="user"><a lay-href="user/userManagePage">患者</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" th:if="${role eq 'admin' || role eq 'user'}">
                        <a href="javascript:;" lay-tips="我的预约" lay-direction="2">
                            <i class="layui-icon layui-icon-user"></i>
                            <cite>我的预约</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a lay-href="booking/bookingOrderPage">我的预约</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" th:if="${role eq 'doctor' || role eq 'admin'}">
                        <a href="javascript:;" lay-tips="门诊诊断" lay-direction="2">
                            <i class="layui-icon layui-icon-user"></i>
                            <cite>门诊诊断</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a lay-href="booking/doctorOrderPage">门诊诊断</a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="set" class="layui-nav-item" th:if="${role eq 'admin' }">
                        <a href="javascript:;" lay-tips="系统设置" lay-direction="2">
                            <i class="layui-icon layui-icon-set"></i>
                            <cite>系统设置</cite>
                            <span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child">
                            <dd class="layui-nav-itemed" data-name="hospitalShow">
                                <a href="javascript:;"  lay-href="rotationPicture/rotationPictureManage">医院风采</span></a>
                            </dd>
                            <dd class="layui-nav-itemed">
                                <a href="javascript:;" lay-href="rotationPicture/rotationPictureManage">热门医院</a>
                            </dd>
                        </dl>
                    </li>
                    <span class="layui-nav-bar" style="top: 326px; height: 0px; opacity: 0;"></span></ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"><span class="layui-nav-more"></span></a>
                        <dl class="layui-nav-child layui-anim-fadein layui-anim layui-anim-upbit">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto="" lay-allowclose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="hospital/hospitalShow" lay-attr="hospital/hospitalShow" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i><i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
                    </li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="hospital/hospitalShow" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<!-- 百度统计 -->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>


<style id="LAY_layadmin_theme">.layui-side-menu, .layadmin-pagetabs .layui-tab-title li:after, .layadmin-pagetabs .layui-tab-title li.layui-this:after, .layui-layer-admin .layui-layer-title, .layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child {
    background-color: #20222A !important;
}

.layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a {
    background-color: #009688 !important;
}

.layui-layout-admin .layui-logo {
    background-color: #20222A !important;
}
</style>
<div class="layui-layer-move"></div>

<script type="text/javascript" th:src="@{static/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        base: 'static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'element', 'table'], function () {
        var element = layui.element
            , table = layui.table
            , $ = layui.jquery;


    });
</script>

</body>

</html>