<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>科室-编辑和添加</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <base th:href="${#request.getContextPath()}+'/'">
  <link rel="stylesheet" href="static/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-input-inline">
      <input type="hidden" name="id" th:value="${dept.id}">
    </div>
    <div class="layui-form-item" th:if="${#strings.isEmpty(dept.getHospitalName())}">
      <label class="layui-form-label">医院名称</label>
      <div class="layui-input-inline">
        <select name="hospitalName" >
          <option value="">请选择医院</option>
          <option th:each="hospital,hospitalStat:${hospitals}" th:value="${hospital.getHospitalName()}" th:text="${hospital.getHospitalName()}"></option>
        </select>
      </div>
    </div>
    <div class="layui-form-item" th:if="${not #strings.isEmpty(dept.getHospitalName())}">
      <label class="layui-form-label">医院名称</label>
      <div class="layui-input-inline">
        <input type="text" name="hospitalName" th:value="${dept.hospitalName}"  lay-verify="required" autocomplete="off" class="layui-input" disabled>
      </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label">科室名称</label>
    <div class="layui-input-inline">
      <input type="text" name="hisDepartmentName" th:value="${dept.getHisDepartmentName()}" lay-verify="required" placeholder="请输入科室名称" autocomplete="off" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item">
      <label class="layui-form-label">科室介绍</label>
      <div class="layui-input-inline">
        <textarea name="introduction" th:value="${dept.introduction}" th:text="${dept.introduction}" lay-verify="required" style="width: 400px; height: 150px;" autocomplete="off" class="layui-textarea"></textarea>
      </div>
    </div>

    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
    </div>
  </div>

  <script src="static/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: 'static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form'], function(){
    var $ = layui.$
    ,form = layui.form;
    
    //监听提交
    form.on('submit(layuiadmin-app-form-submit)', function(data){
      var field = data.field; //获取提交的字段
      var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

      //console.log(field)//打印日志
      //layer.msg(JSON.stringify(field));//表格数据序列化

      var url="";
      if (!field.id){
        url="addDepartment";
      }else {
        url="updateDepartment";
      }

      //提交数据
      $.ajax({
        type: "post",  //数据提交方式（post/get）
        contentType:"application/json",//数据提交格式
        url: "department/"+url,  //提交到的url
        data: JSON.stringify(field),
        dataType: "json",//返回的数据类型格式
        success: function(msg){
          if (msg.success){
            //成功
            parent.layer.msg(msg.msg, { icon: 1, time: 1500 });
            parent.layui.table.reload('LAY-app-content-list'); //重载表格
            parent.layer.close(index); //再执行关闭
          }else {
            //失败
            parent.layer.alert(msg.msg, { icon: 2},function () {
              parent.layer.close(index);
            });
          }
        }
      });
      // return false;//false：阻止表单跳转  true：表单跳转
    });
  })
  </script>
</body>
</html>